@media screen and (min-width: 576px) and (max-width: 992px) {

    body {
        margin: 0 auto;
        padding: 10px;


    }

    .header-container {
        margin: 5px;
        height: auto;
    }


    .banner {
        display: flex;
        flex-direction: column;

    }
    

    .banner-image{
        margin:0 auto;
        position: relative;
    }
    .banner-image img {
        position: relative;
        left: 0px;
    }

    .btn-workout {

        position: relative;
        right: -270px;
    
    }

    .banner-button {
        display: flex;
        gap: 10px;

    }

    .banner-button h4 {
        font-size: 16px;
    }
    .btn-tutorial {
        right: 60px;
    }

    
    .nav-bar {
        display: none;
    }

    .mobile-menubar {
        display: flex;
        justify-content: space-between;

    }





    /* habitSection*/

    .habit-container {
        margin: 5px;
        height: auto;
        display: grid;
        grid-template-columns: auto;
        padding-bottom: 20px;
    }

    .habit-text {
        text-align: center;
    }

    .image-container {
        display: grid;
        grid-template-columns: auto auto;
        

    }

    /*Run-extra Section */
    .Run-extra {
        margin: 5px;
        height: auto;
    }

    .run-extra-container {
        display: grid;
        grid-template-columns: auto;
    }

    .extra-container-image img {
        height: 400px;
        left: 20px;

    }

    /* calculator Section */

    .calculator {
        height: auto;
    }

    .calculator-container {
        width: auto;
        display: grid;
        grid-template-columns: auto;
    }

    .calculator-content {
        margin: 5px;
        display: grid;
    }

    input,
    select {
        width: auto;
        height: auto;
    }

    #b4 {
        width: auto;
    }

    /* Choose -plan */

    .plan-container {
        margin: 5px;
    
    }

    .monthly-content {
        display: grid;
        grid-template-columns: auto auto;
        height: auto;
    }


    /* Team Section*/

    .meet-team {
        height: auto;
    }

    .meet-team-container {
        margin: 5px;
    }

    .team-picture {
        display: grid;
        grid-template-columns: auto auto;
        width: auto;
    }

    .meet-team img {
        width: auto;
    }


    /* footer Section */

    .footer-container {
        margin: 0 auto;
        padding:20px;
    }
    .footer-first {
        height: auto;
        display: grid;
        grid-template-columns: auto auto;
    }

}



/* Mobile device*/

@media screen and (max-width: 576px) {

    body {

        margin: 0 auto;
        padding:10px;
    }

    .header-container {
        margin: 5px;
        height: auto;
    }

    /* .nav-bar {
        flex-direction: column;
    } */
    .nav-bar {
        display: none;
    }

    .mobile-menubar {
        display: flex;
        justify-content: space-between;


    }

    .banner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    .banner-image{
        margin:0 auto;
        position: relative;
    }
    .banner-image img {
        position: relative;
        left: 0px;
    }

    .btn-workout {

        position: relative;
        right: -270px;
    
    }

    .banner-button {
        display: flex;
        gap: 10px;

    }

    .banner-button h4 {
        font-size: 16px;
    }
    .btn-tutorial {
        bottom: 230px;
        right: -50px;
        transform: translate(-50%,-50%);
    }


    /*headerSection*/

    .habit-container {
        margin: 5px;
        display: grid;

    }

    .image-container {

        display: grid;
        grid-template-columns: auto;
    }

    /*Run-extra Section */

    .Run-extra {
        margin: 5px;
        height: auto;
    }

    .run-extra-container {
        display: grid;
        grid-template-columns: auto;
    }

    .extra-container-image img {
        height: 150px;
        left: 20px
    }

    /* calculator Section*/


    .calculator {
        height: auto;
    }

    .calculator-container {
        width: auto;
        display: grid;
        grid-template-columns: auto;
        
    }
    .calculator-content {
        margin: 5px;
        display: grid;
        gap: 20px;
        grid-template-columns:auto;
    }


    input,
    select {
        width: auto;
        height: auto;
    }
    

    #b4 {
        width: auto;
    }

    /* Choose -plan */ 

    .plan-container {
        margin: 5px;
    
    }

    .monthly-content {
        display: grid;
        grid-template-columns:auto;
        height: auto;
    }
    

    /* Team Section */ 

    .meet-team {
        height: auto;
    }

    .meet-team-container {
        margin: 5px;
    }

    .team-picture {
        display: grid;
        grid-template-columns: auto;
        width: auto;
    }

    .meet-team img {
        width: auto;
    }

    /* footer Section*/
    .footer-container {
        margin: 0 auto;
        padding:5px;
    }

    .footer-first {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    } 

}